/* SERVICES SECTION */
.services {
  padding: 80px 120px;
  background: #ecece5;
}

.services-title {
  font-size: 2.4rem;
  margin-bottom: 40px;
  color: #e76868;
  font-weight: 600;
  text-align: center;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
}

.service-card {
  background: #da11ae;
  padding: 28px;
  border-radius: 14px;
  border: 1px solid #9b578a;
  transition: 0.35s ease;
  cursor: pointer;
}

.service-card:hover {
  border-color: #c7d865;
  transform: translateY(-6px);
  box-shadow: 0px 10px 25px rgba(99, 102, 241, 0.18);
}

.service-card h3 {
  margin-bottom: 12px;
  color: #f5f5f8;
  font-size: 1.35rem;
  font-weight: 600;
}

.service-card p {
  color: #eae8f0;
  line-height: 1.6;
  font-size: 0.95rem;
}

/* RESPONSIVE */
@media (max-width: 1000px) {
  .services-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 650px) {
  .services-grid {
    grid-template-columns: 1fr;
  }

  .services {
    padding: 40px 20px;
  }
}
